<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <style>
      .mode { 
            float:right; 
        } 
        .change { 
            cursor: pointer; 
            border: 1px solid #555; 
            border-radius: 40%; 
            width: 20px; 
            text-align: center; 
            padding: 5px; 
            margin-left: 8px; 
        } 
        .dark{ 
            background-color: #222!important; 
            color: #e6e6e6!important; 
        } 
    </style>
<link rel="shortcut icon" type="image/png" href="https://www.snetworks.ml/assets/images/97495b29-dc89-4141-be8c-4736fb79ebe8-200x200-90x90.png">
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
          <div class="mode"> 
        Dark mode:              
        <span class="change">OFF</span> 
    </div> 
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Like this? <a href="https://github.com/Sarveshmrao/Programming-for-Beginners/">Star this on GitHub</a>.</span>
      </footer>
    </main>
        <script> 
        $( ".change" ).on("click", function() { 
            if( $( "body" ).hasClass( "dark" )) { 
                $( "body" ).removeClass( "dark" ); 
                $( ".change" ).text( "OFF" ); 
            } else { 
                $( "body" ).addClass( "dark" ); 
                $( ".change" ).text( "ON" ); 
            } 
        }); 
    </script> 
  </body>
</html>
